<!DOCTYPE html>
<html lang="en">
<head>
 <%-include("partials/head")%>
  <title><%=title ? "Contestants" : ""%></title>
</head>
<body>
       <!-- /////////nav-bar section//// -->
    <%-include("partials/nav-bar")%>

    <!-- //////banner section//// -->
    <%-include("partials/banner")%>


    <!-- /////////contestant section////// -->
    <%-include("partials/contestant-section")%>

    <!-- ///////testimonials section///// -->
    <%-include("partials/testimony")%>

    <!-- ///////footer section////// -->
    <%-include("partials/footer")%>
</body>
</html>
